@model DatabaseModel.Post
@{
    ViewBag.Title = Model.Titulo;
}
<head>
    <link rel="stylesheet" href="~/Content/Post/Post.css" />
</head>

<div class="conteudo-post-container">
    <div class="fw dp02">
        <div id="post-id-1" class="post-container high-white fw fh">
            <div class="post-titulo kumbh-sans">
                @Model.Titulo
            </div>
            <div class="post-conteudo open-sans">
                @Html.Raw(Model.Conteudo)
            </div>
        </div>
    </div>
</div>

