#sinewave-svg-1, #sinewave-svg-2, #sinewave-svg-3 {
    width: 350px;
    height: 250px;
    position: relative;
}

#sinewave-svg-1 {
    top: -180px;
}

#sinewave-svg-2 {
    top: -430px;
}

#sinewave-svg-3 {
    top: -680px;
}

#sinewave-svg-1-path, #sinewave-svg-2-path, #sinewave-svg-3-path {
    stroke: #E194EA;
    stroke-width: 3.5px;
    stroke-linecap: round;
    fill: none;
}

#sinewave-svg-2-path {
    stroke: #F8E6F9;
    stroke-width: 2px;
}

#sinewave-svg-3-path {
    stroke: #EDBFF2;
    stroke-width: 3px;
}
