@using System.Configuration;
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/Content/Home/Home.css" />
    <link rel="stylesheet" href="~/Content/SineWave/SineWave.css" />
</head>

<div class="conteudo-container">

    <div class="conteudo-esquerda-container">
        <div class="esquerda-item-container">
            <div class="fw dp02">
                <div id="post-id-1" class="post-container high-white fw fh">
                    <div class="post-titulo kumbh-sans">
                    </div>
                    <div class="post-conteudo open-sans">
                    </div>
                </div>
            </div>
        </div>

        @*<div class="esquerda-item-container">
            <div class="fw fh dp04">
            </div>
        </div>

        <div class="esquerda-item-container">
            <div class="fw fh dp04">
            </div>
        </div>*@
    </div>

    <div class="conteudo-direita-container">
        <div class="direita-item-container">
            <div class="fw fh dp02">
                <div class="olho-container">
                    <img class="olho svg-filtro-purple-200" src="~/Content/images/olhos/olho-6.svg">
                </div>
                <svg id="sinewave-svg-1">
                    <path id="sinewave-svg-1-path" d="M10,10 L50,100 L90,50"></path>
                </svg>
                <svg id="sinewave-svg-2">
                    <path id="sinewave-svg-2-path" d="M10,10 L50,100 L90,50"></path>
                </svg>
                <svg id="sinewave-svg-3">
                    <path id="sinewave-svg-3-path" d="M10,10 L50,100 L90,50"></path>
                </svg>
            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/Home/Home.js"></script>
<script src="~/Scripts/SineWave/SineWave.js"></script>