/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar-container {
    width: 1060px;
    padding: 0;
    display: flex;
    margin: auto;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height + 16px (Margin) */
  margin-bottom: 76px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.template-header {
    margin-bottom: 16px !important;
}

.fw {
    width: 100%;
}

.fh {
    height: 100%;
}

a.link-reset {
    text-decoration: none;
    color: inherit;
}

/*TEXT COLORS*/

.purple-200 {
    color: #E194EA !important;
}

.purple-100 {
    color: #EDBFF2 !important;
}

.purple-50 {
    color: #F8E6F9 !important;
}

.green-200 {
    color: #afe3a8 !important;
}

.green-100 {
    color: #cbefc7 !important;
}

.green-50 {
    color: #e7f9e6 !important;
}

.full-white {
    color: rgba(255,255,255, 1) !important;
}

.high-white {
    color: rgba(255,255,255, 0.87) !important;
}

.medium-white {
    color: rgba(255,255,255, 0.6) !important;
}

.disabled-white {
    color: rgba(255,255,255, 0.38) !important;
}

/*BACKGROUDS*/

.dp-absolute-zero {
    background: #000000 !important;
}

.dp00 {
    background: #0e0f0f !important;
}

.dp01 {
    background: #171819 !important;
}

.dp02 {
    background: #1a1c1d !important;
}

.dp03 {
    background: #1c1e1f !important;
}

.dp04 {
    background: #1d2021 !important;
}

.dp06 {
    background: #1d2021 !important;
}

.dp08 {
    background: #1d2021 !important;
}

.dp12 {
    background: #1d2021 !important;
}

.dp16 {
    background: #1d2021 !important;
}

.dp24 {
    background: #1d2021 !important;
}

/* FILTROS SVG */
/*https://codepen.io/sosuke/pen/Pjoqqp*/
.svg-filtro-purple-200 {
    filter: invert(78%) sepia(43%) saturate(2115%) hue-rotate(213deg) brightness(94%) contrast(96%);
}

/* COR DA SELECAO DE TEXTO */
::-moz-selection { /* Code for Firefox */
    /*color: rgba(255,255,255, 0.87);*/
    background: #E194EA;
}

::selection {
   /*color: rgba(255,255,255, 0.87);*/
    background: #E194EA;
}

/* FONTES */
.mukta-mahee {
    font-family: 'Mukta Mahee', sans-serif;
}

.livvic {
    font-family: 'Livvic', sans-serif;
}

.kumbh-sans {
    font-family: 'Kumbh Sans', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}