<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <connectionStrings>
    <add name="MDU_DB_Entities" connectionString="metadata=res://*/MDU_DB.csdl|res://*/MDU_DB.ssdl|res://*/MDU_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=6e6078fe-235a-432a-a0af-a881016f8245.sqlserver.sequelizer.com;initial catalog=db6e6078fe235a432aa0afa881016f8245;persist security info=True;user id=fbjjspmaollahkwf;password=4guYecEBDCB7ajSLjWSRweqyGNM2WDndVZLV65vmE3ZohE8xSX2BPjYXY5rywMM8;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\MyDystopianUniverse.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
  </system.webServer>
</configuration>
<!--ProjectGuid: E51661F9-272F-404A-BE61-F2206E299A73-->