/* TEMPLATES */
.conteudo-post-container {
    width: 1060px;
    height: 100%;
    margin: auto;
    border: 1px solid rgba(255,255,255, 0.15);
}

/* POSTS */
.post-container {
    padding: 15px;
    overflow: hidden;
    /*text-align: justify;*/
}

.post-titulo {
    font-size: 30px;
}

.post-conteudo {
    font-size: 16px;
}

/* POSTS HOME */
.post-home-container {
    padding: 15px;
    overflow: hidden;
    /*text-align: justify;*/
    -webkit-mask-image: linear-gradient(180deg,#000 60%,transparent);
    mask-image: linear-gradient(180deg,#000 60%,transparent);
    cursor: pointer;
}

/*.post-home-conteudo {
    font-size: 16px;
    white-space: pre-wrap;
}*/